 <widget id="A6006511020206"  version="0.0.1">
    <name>douyin</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="qiniuUpfile">
       <param name="bucket" value="test"/>
       <param name="SecretKey" value="QrFcgs8Z69cyqGD-seCC8PbJ7FgWQ8TlLcqdzAPO"/>
       <param name="AccessKey" value="JbfFnWoGASeaESnavF1wqsUU_GZv8fg4vj8LyWPB"/>
      </feature>
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <preference name="querySchemes" value="facebook,twitter,googlePlus,instagram,line,google"/>  <feature name="mobSharePlus">
      <param name="android_api_key" value="2aac6573a8248"/>
      <param name="android_api_secret" value="ce4c8eaca4542b6578b04c6fc6886c02"/>
      <param name="ios_api_key" value="2aac6573a8248"/>
      <param name="ios_api_secret" value="ce4c8eaca4542b6578b04c6fc6886c02"/>
      <param name="android_api_key" value="2aac6573a8248"/>
      <param name="android_api_secret" value="ce4c8eaca4542b6578b04c6fc6886c02"/>
      <param name="ApiKey" value="2aac6573a8248"/>
      <param name="ApiSecret" value="ce4c8eaca4542b6578b04c6fc6886c02"/>
      <param name="urlScheme" value="fb2260718420859070"/>
      <param name="urlScheme" value="Google+"/>
      <param name="urlScheme" value="instagram"/>
      <param name="urlScheme" value="twitter"/>
      <param name="urlScheme" value="line"/>
      <!-- <param name="KAKAO_APP_KEY" value="48d3f524e4a636b08d81b3ceb50f1003"/> -->
      <!-- 如果使用Android QQ或QZone 还需要如下配置否则无法正确回调 其中tencent后面为appId-->
      <!-- <param name="android_urlScheme" value="tencent100371282"/> -->
    </feature>
</widget>